@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
:root{
 --paredFondo:#F9FADE ;
 --textoNav:#450c0c;
 --texto:black;
 --ilumination:#6FCB2F ;
 --hr:#483A11;
 --paredbody:#DCCA94;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--paredbody);
}
hr{
 background-color: var(--hr);
 height: 1vh;
 border-color: var(--hr);
 border: 1px;
}
a {
    text-transform: capitalize;
    text-decoration: none; 
}
header{
    background-color: var(--paredFondo);
}
.contenedor-barra{
    display: flex;
    align-items: start;
    justify-content:space-between;
}
.hojas-te{
    width: 60px;
}
.contenedor-barra .barra a{
    text-transform: capitalize;
    position: relative;
    float: right;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    color: var(--textoNav);
    display: block;
}
.barra a :hover{
    color: var(--ilumination);
}
.bienvenidos{
    display: flex;
    flex-direction: column;
}
.bienvenidos h1{
    font-size: 60px;
    margin-left: 300px;
    margin-bottom: 0px;
}
.bienvenidos h2{
    width: 300px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-left: 390px;
}
.parrafo{
    text-align: center;
    width: 400px;
    margin-left: 390px;   
}
.contenedor-menu{
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer{
    background-color: var(--paredFondo);
}
.contenedor-footer{
    margin-top: 100%;
}
.contenedor-redes{
    display: flex;
    flex-direction:row;
    align-items: end;
    justify-content:center;
    margin-bottom: 0%;
}
.contenedor-redes a{
    padding: 20px;
    color: var(--textoNav);
}
.contenedor-redes a :hover{
    color: var(--ilumination);
}
.derechos{
    display: block;
    text-align: center;
    margin-bottom: 0%;
}