@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
:root{
 --paredFondo:#F9FADE ;
 --textoNav:#450c0c;
 --texto:black;
 --ilumination:#6FCB2F ;
 --bienvenida:#DBFFD3;
 --hr:#483A11;
 --paredbody:#DCCA94;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../../public/img/Coffee-Bean-Hardness-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--paredbody);
}
a {
    text-transform: capitalize;
    text-decoration: none; 
}
header{
    background-color: var(--paredFondo);
}
.contenedor-barra{
    position:fixed;
    top:0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: var(--paredFondo);
    width: 100%;
    height: 10%;
    display: flex;
    align-items: start;
    justify-content:space-between;
    border-bottom: 10PX solid var(--hr);
}
.hojas-te{
    width: 60px;
}
.contenedor-barra .barra a{
    text-transform: capitalize;
    position: relative;
    float: right;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    color: var(--textoNav);
    display: block;
}
.barra a :hover{
    color: var(--ilumination);
}
.bienvenidos{
    text-align: center;
    margin-top: 500PX;
    margin-bottom: 0;
    font-size: 60px;
}
.bienvenidos h1{
    color: var(--bienvenida);
}
.contenedor-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85vh;
    border-top: 10px  solid var(--hr);
}
.contenedor-menu h2{
    margin-top: 10vh;
    text-align: center;
    font-size: 50px;
}
.menu{
    width: 700px;
    margin-top: 10vh;
}

footer{
    background-color: var(--paredFondo);
}
.contenedor-footer{
    margin-top: 100%;
}
.contenedor-redes{
    display: flex;
    flex-direction:row;
    align-items: end;
    justify-content:center;
    margin-bottom: 0%;
}
.contenedor-redes a{
    padding: 20px;
    color: var(--textoNav);
}
.contenedor-redes a :hover{
    color: var(--ilumination);
}
.derechos{
    display: block;
    text-align: center;
    margin-bottom: 0%;
}